{% extends '/models/backOffice.html.twig' %}

{% block title %} Manage - Projects {% endblock %}

{% block module %}projet-manage{% endblock %}

{% block content %}

    <!-- aside -->
    <div class="aside"> 

        <!-- search form -->
        <form>
            <input type="text" name="search" placeholder="Rechercher" />
        </form>

        <!-- list -->
        <div class="list"> 

        </div>
        
    </div>

    <!-- project -->
    <div class="project"> 

        <!-- create -->
        <div class="create"> 

        </div>

        <!-- update -->
        <div class="update"> 

        </div>

    </div>

{% endblock %}