/**** THEME - COLORS ****/ 

$first-color: #2CAF90;
$second-color: #788089;
$third-color: #FFFFFF;
$fourth-color: #F6F7F8;
$error: rgb(185, 36, 36);
$border-color: #D8DEE2;
$border-shadow: #D8DEE2;

/**** BUTTONS COLORS *****/


/**** BACKGROUND COLORS ****/


/**** FONT ****/
$font-primary-color: #788089;


// ------------------------------------------------------------------------------- //
