/**** THEME - COLORS ****/ 

$first-color: #2CAF90;
$second-color: #788089;
$third-color: #FFFFFF;
$fourth-color: #F6F7F8;
$default-border-color: #9b9b9b4f;

/**** BUTTONS COLORS *****/


/**** BACKGROUND COLORS ****/


/**** FONT ****/
$font-primary-color: #788089;


// ------------------------------------------------------------------------------- //
