/**** THEME - COLORS ****/ 
$first-color: #2CAF90;
$second-color: #788089;
$third-color: #F6F7F8;
$fourth-color: #FFFFFF;

$default-border-color: #9b9b9b4f;
/**** BUTTONS COLORS *****/


/**** BACKGROUND COLORS ****/


// ------------------------------------------------------------------------------- //
