@import "./../sass/all";

body.admin{

    position: relative;
    background-color: $fourth-color;
    $aside-width: 100px;

    // > * {border: 1px solid black;}

    header, section{
        left: 0%;
        right: $aside-width;
        background-color: transparent;
    }

    $header-height: 70px;
    header{
        height: $header-height;
        position: absolute;
        top: 0%;
    }

    aside{
        width: $aside-width;
        height: 100%;
        position: absolute;
        right: 0%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        background-color: $fourth-color;
        overflow-y: auto;

        .svg-conatiner{
            width: 65px;
            height: 65px;
            margin-top: 10px;
            margin-bottom: 10px;
            border-radius: 10px;
            background-color: white;
            border: 1px solid $default-border-color;
        }
    }

    aside:first-child{
        margin-top: 25px;
    }

    section{
        position: absolute;
        top: $header-height;
        bottom: 0%;
        overflow: auto;
    }

    
}