@import './../../sass/all';

article.user-manage{
    
    border-radius: 10px;
    box-shadow: 0px 0px 2px $border-shadow;
    background-color: $third-color;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #788089;
    overflow: hidden;

    div.list{
        width: 350px;
        height: 100%;
        border-right: 1px solid $border-color;
        overflow-x: hidden;
        overflow: hidden;

        form{
            width: 100%;
            height: 50px;
            border-bottom: 1px solid $border-color;
            position: relative;
            border-top-left-radius: 10px;

            input{
                width: 90%;
                height: 90%;
                border: none;
                border-top-left-radius: 10px;
            }

            button{
                position: absolute;
                top: 0%;
                right: 10px;
                bottom: 0%;
            }
        }

        div.users-list{ 
            width: 100%;
            height: calc(100% - 50px);
            overflow: auto; 
        }

        div.user{
            width: 100%;
            height: 90px;
            display: flex;
            border-bottom: 1px solid $border-color;
            position: relative;

            div.pic{
                width: 90px;
                height: 90px;
                display: flex;
                align-items: center;
                justify-content: center;

                img{
                    width: 75%;
                    height: 75%;
                    border-radius: 100%;
                    box-shadow: 0px 0px 2px $border-shadow;
                }
            }

            div.data{
                width: calc(100% - 90px);
                height: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;

                div{
                    margin-left: 10px;
                }

            }

            

        }
    }

    div.update{
        width: calc(100% - 350px);
        height: 100%;
        overflow: hidden;

        div.user{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            > div{
                height: calc(100% - 50px);
            }

            div.infos{
                width: calc(100% - 400px);
                display: flex;
                align-items: center;
                flex-direction: column;

                div.info-inputs{
                    width: 100%;
                    height: 100%;

                    div.inputs, div.buttons{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                    }

                    iframe{
                        margin-top: 20px;
                        width: 75%;
                        height: 300px;
                    }

                    input{
                        width: 75%;
                        height: 50px;
                        font-size: 75%;
                        border: none;
                        border-bottom: 1px solid $border-color;
                    }

                    button{
                        width: 75%;
                        height: 40px;
                        margin: 20px 0px 0px 0px;
                        border-radius: 10px; 
                        color: white;
                        font-weight: bold;
                        letter-spacing: 1px;
                        font-size: 90%;
                    }

                    button.update{
                        margin-top: 50px;
                        background-color: $first-color;
                    }

                    button.delete{
                        background-color: $error;
                    }
                }
            }

            div.roles{
               width: auto; min-width: 115px;
               overflow-x: hidden;
               overflow-y: auto;

               div{
                   display: flex;
                   margin-bottom: 15px;

                   input{
                    margin-right: 10px;
                   }
               }

               

            }

            div.projects{
                width: 50%;
            }

            div.buttons{
                position: absolute;
                right: 20px;
                bottom: 20px;
            }
            
            
        }


    }

}