html {
  display: flex;
  align-items: center;
  justify-content: center; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Trump Gothic West", sans-serif;
  scroll-behavior: smooth; }
  html a, body a {
    color: black;
    text-decoration: none; }
  html button, body button {
    background-color: white; }

body {
  max-width: 1440px;
  max-height: 839px; }
  body header {
    width: 100%;
    height: 48px;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    top: 0px; }
    body header :first-child {
      width: 200px;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.5px; }
    body header :last-child {
      width: 200px;
      font-weight: bold;
      text-align: center;
      font-size: 20px;
      letter-spacing: 0.5px;
      color: #80828a; }
  body section {
    width: 100%;
    height: calc(100% - 248px);
    position: relative;
    top: 120px;
    display: flex;
    text-align: center; }
    body section nav, body section aside {
      width: 200px;
      height: calc(100% -50px);
      text-align: center;
      height: auto;
      max-height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      letter-spacing: 0.5px;
      overflow-x: hidden; }
    body section nav {
      text-align: center; }
      body section nav span {
        font-size: 27px; }
    body section article {
      width: calc(100% - 400px);
      height: 100%;
      overflow: hidden; }
      body section article > div {
        width: 100%;
        height: 100%;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center; }
      body section article .developer {
        line-height: 5;
        font-size: 150px;
        letter-spacing: 1.5px;
        text-transform: uppercase; }
      body section article .description {
        justify-content: flex-start;
        font-size: 50px;
        text-align: justify; }
      body section article .workflow {
        position: relative; }
        body section article .workflow h2 {
          letter-spacing: 2px; }
        body section article .workflow > div {
          position: absolute;
          letter-spacing: 0.5px; }
        body section article .workflow .php {
          top: 15%;
          left: 0%;
          right: 0%; }
        body section article .workflow .symfony {
          top: 21%;
          left: 34%; }
        body section article .workflow .mysql {
          top: 34%;
          left: 25%; }
        body section article .workflow .laravel {
          top: 21%;
          right: 34%; }
        body section article .workflow .sass {
          top: 34%;
          right: 25%; }
        body section article .workflow .css {
          top: 50%;
          bottom: 50%;
          left: 23.5%; }
        body section article .workflow .webpack {
          top: 50%;
          bottom: 50%;
          right: 22.5%; }
        body section article .workflow .jquery {
          bottom: 34%;
          left: 25%; }
        body section article .workflow .vue {
          bottom: 22%;
          left: 33%; }
        body section article .workflow .gulp {
          bottom: 34%;
          right: 25%; }
        body section article .workflow .react {
          bottom: 22%;
          right: 33%; }
        body section article .workflow .javascript {
          bottom: 15%;
          left: 0%;
          right: 0%; }
      body section article .contact {
        flex-direction: column; }
        body section article .contact form input, body section article .contact form textarea, body section article .contact form button {
          width: 100%;
          max-width: 500px;
          height: 50px;
          margin: 5px 0px 5px 0px;
          font-size: 100%;
          border-radius: 10px;
          border: 1px solid black; }
        body section article .contact form input:hover, body section article .contact form textarea:hover {
          color: #80828a;
          border: none;
          box-shadow: 0px 0px 4px grey; }
        body section article .contact form textarea {
          height: 100px;
          padding-top: 10px; }
        body section article .contact form button {
          color: white;
          font-size: 100%;
          font-weight: bold;
          letter-spacing: 2px;
          background-color: black; }
    body section aside .up {
      width: 0px;
      height: 0px;
      margin: 8px auto;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 22px solid black;
      animation: upAnimation 3s infinite;
      opacity: 0; }
    body section aside .up:hover {
      border-bottom-color: #80828a; }
    body section aside .circle {
      width: 35px;
      height: 35px;
      border-radius: 100%;
      border: 2px solid black; }
    body section aside .circle:hover {
      border-color: #80828a; }
    body section aside .down {
      width: 0px;
      height: 0px;
      margin: 8px auto;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 22px solid black;
      animation: downAnimation 3s infinite; }
    body section aside .down:hover {
      border-top-color: #80828a; }
  body .ask {
    width: 200px;
    height: auto;
    position: absolute;
    bottom: 50px;
    right: 0px;
    text-align: center; }
    body .ask button {
      width: 50px;
      height: 50px;
      font-size: 100%;
      font-weight: bold;
      border-radius: 100%;
      border: 2px solid black; }
      body .ask button img {
        width: 100%;
        height: 100%; }
  body .dim {
    width: 200px;
    height: auto;
    position: absolute;
    bottom: 50px;
    left: 0px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.5px; }
  body .welcome-animation {
    width: 100%;
    height: calc(100% - 248px);
    position: absolute;
    z-index: 2;
    top: 120px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: "Trump Gothic West", sans-serif; }
    body .welcome-animation div {
      height: 100%;
      line-height: 5;
      font-size: 150px;
      font-weight: bold;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      background-color: white; }
    body .welcome-animation .left {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      animation: logoLeft 4s; }
    body .welcome-animation .right {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-start; }

@keyframes logoLeft {
  35% {
    margin-right: 0%; }
  100% {
    margin-right: 100%; } }

@keyframes upAnimation {
  50% {
    transform: translateY(-7px); }
  100% {
    transform: translateY(0px); } }

@keyframes downAnimation {
  50% {
    transform: translateY(7px); }
  100% {
    transform: translateY(0px); } }

