{% extends 'base.html.twig' %}

{% block title %} 401 {% endblock %}

{% block template %}error-401{% endblock %}

{% block body %} 

    <div id="notfound">
		<div class="notfound">
			<div class="notfound-401">
				<h1>401</h1>
			</div>
			<h2>non autorisé</h2>
			<a href="/">Retour à la page d'accueil</a>
		</div>
	</div>

{% endblock %}