{% extends "defaults/models/user.html.twig" %}

{% block module %}user-login{% endblock %}

{% block title %} Login {% endblock %}

{% block content %}
    <form>
        <p> Connexion </p>
    </form>
{% endblock %}

